<div class="row">
    <div class="column left">
      
      <div class="card">
        <img src="assets/img/people1.jpg" >
        <h4 >ime i prezime 1</h4>
      </div>
      <div class="card">
        <img src="assets/img/people2.jpg" >
        <h4>ime i prezime 2</h4>
      </div>
      <div class="card">
        <img src="assets/img/people3.jpg" >
        <h4>ime i prezime 3</h4>
      </div>
    </div>
    
    <div class="column middle">
        <div class="card">
            <h2>Novi prozvodi - CeraVe</h2>
            <img src="assets/img/cerave.jpg" >
            <p>Kultni američki brend CeraVe stigao je u Bosnu i Hercegovinu. 
                Radi se o brendu koji su razvili dermatolozi, a 
                namijenjen je svim tipovima kože. Osnovna formulacija 
                njihovih proizvoda temelji se na tri esencijalna ceramida 
                koji štite prirodne barijere kože, hijaluronskoj kiselini 
                koja je zaslužna za hidrataciju i pametnoj patentiranoj tehnologiji 
                MVE za kontrolirano otpuštanje sastojaka tijekom cijelog dana 
                što omogućuje da koža dulje ostane zaštićena.</p>
          </div>

          <div class="card">
            <h2>Poklon uz kupovinu - AVENE</h2>
            <img src="assets/img/avene.jpg" >
            <p> avene </p>
          </div>

          <div class="card">
            <h2>La Roche Posay promocija</h2>
            <img src="assets/img/lrp.jpg" >
            <p> Kupovinom posebno označenih artikala ostvarite popust </p>
          </div>
          <div class="card">
            <h2>Poklon uz kupovinu - VICHY</h2>
            <img src="assets/img/vichy.jpg" >
            <p>vichy.</p>
          </div>
          <div class="card">
            <h2>Cijene dostave</h2>
            <img src="assets/img/dostava.jpg" >
            <p> Od mjeseca maja izmjena cijena dostave </p>
          </div>
    </div>
    
    <div class="column right">
        <div class="card">
            <h2>About Me</h2>
            <iframe 
                    src="https://www.youtube.com/embed/Jb1obm6rFp8">
                    </iframe>
            
          </div>

          <div class="card">
            <h2>Naši partneri</h2>
            <p>Za više informacija o proizvodima, posjetite stranice naših partnera</p>
            <a  href="https://www.eau-thermale-avene.ba/" >
              <img alt="avene logo" src="assets/img/avene-logo.png" width="100%" ></a>
              
              <a  href="https://www.laroche-posay.com.hr/" >
                <img  alt="lrp logo" src="assets/img/lrp-logo.png" width="100%" ></a>
              <a  href="https://www.vichy.hr/" >
                <img alt="vichy logo" src="assets/img/vichy-logo.jpg" width="100%" ></a>
            
            
          </div>
    </div>
  </div>