<div class="header">
    
  <div class="headleft">
      <h1>web shop</h1>
      <p>Best place for your shopping.</p>
  </div>

  <div class="headright" >
      <p>Follow us on social media</p>
      <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
      <a href="https://twitter.com/" class="fa fa-twitter"></a>
      <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
      <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
      <a href="https://www.pinterest.com/" class="fa fa-pinterest"></a>

  </div>
</div>

<div class="topnav">
<a routerLink="/start" routerLinkActive="active">Početna</a>
<a routerLink="/products" routerLinkActive="active">Svi proizvodi</a>


<a routerLink="/contact" routerLinkActive="active" style="float:right">Kontaktirajte nas</a>
</div>



<router-outlet></router-outlet>


<div class="footer">
  <h5>Dizajnirala: Jasenka Jaganjac    2021. godina</h5>
</div>







