<div class="container ">
  <br><p >Ukoliko nas želite kontaktirati popunite formu ispod, a mi ćemo Vas se javiti u najkaraćen roku: </p>

<form  (ngSubmit)="onSubmit()">

  <label for="fname">Vaše ime:</label><br>
  <input type="text"  name="fname" placeholder="Ime"><br><br>
  <label for="lname">Vaše prezime:</label><br>
  <input type="text"  name="lname" placeholder="Prezime"><br><br>
  <label for="email">Vaša e-mail adresa:</label><br>
  <input type="text"  name="email" placeholder="example@gmail.com"><br><br>

    
  
    <textarea  placeholder="Ovdje napišite Vašu poruku..." ></textarea>
    <br>
  
 <br>
  <input type="submit" value="Pošalji" >


  
</form>
</div>

